body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

.titulo {
    text-align: center;
    padding: 20px;
}

.contenedor-juegos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    padding: 10px;
}
