/* Fondo general */
body {
    background-color: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Título principal */
h1 {
    margin-top: 40px;
    font-size: 38px;
    font-weight: 800;
    color: #e5e5e5;
}

/* Slider */
.slider {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

/* Tarjeta */
.coach-card {
    background: #1a1a1a;
    padding: 20px;
    width: 260px;
    border-radius: 18px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    transition: transform .3s ease, box-shadow .3s ease;
}

/* Hover */
.coach-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 18px rgba(0, 0, 0, .8);
}

/* Imagen */
.coach-card img {
    width: 100%;
    height: 250px;     /* <-- tamaño fijo */
    object-fit: cover; /* <-- recorta para que no se deforme */
    border-radius: 12px;
    margin-bottom: 10px;
    display: block;
}


/* Estrellas */
.stars {
    font-size: 20px;
    margin: 8px 0;
    color: #cccccc;
}

/* Descripción */
.descripcion {
    color: #bbbbbb;
    font-size: 14px;
    margin-top: 5px;
}
